/.venv/
/config.json
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/pocket-option.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/logs/zigzag_detector.log
/BUILD_EXE.bat
/main.spec
/dist/
/build/
